*{
    margin: 0;
    padding: 0;
}
.box1,.box2,.box3,.box4{
    height: 200px;
    width:  200px;
    border: 2px solid black;
    text-align: center;
}
.box1{
    height: 50px;
    position: fixed;
    top: 0;
    border: none;
    width: 100%;
}
.box2{
    height: 50px;
    position: fixed;
    bottom: 0;
    border: none;
    width: 100%;
}

.box4{
    height: 50px;
    position: sticky;
    width: 100%;
    top: 50px;
}