/* .container{
    height: 500px;
    width: 500px;
    background-color: royalblue;
    font-size: 5px;
}
.box{
    height: 100px;
    /* width: 30%; */
    /* background-color: red;
    font-size: 2em;
    width: 5em; */

.box1,.box2,.box3,.box4{
    height: 200px;
    width:  200px;
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border: 2px solid black;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.box1{
    background-color: red;
    position: static;
}
.box2{
    background-color: green;
    position: relative;
    top: 220px;
    right: 25px;
}
.box3{
    background-color: blue;
    position: relative;
    top: 440px;
    right: 50px;
}
.box4{
    background-color: yellow;
    position: relative;
    top: 660px;
    right: 75px;
}